doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css")
    link(rel="stylesheet" href="assets/css/style.css")
  body
    
    // Top Header
    include ../partials/top-header.pug
    // End Top Header

    // Header
    include ../partials/header.pug
    // End Header

    block main
    
    // Footer
    include ../partials/footer.pug
    // End Footer
    
    // Box Contact
    include ../partials/box-contact.pug
    // End Box Contact
    script(src="/assets/js/script.js") 